/* Container chung */
*{
    padding: 0px;
    margin: 0px;
}

.app-container {
    display: flex;
    flex-direction: column;
    /* height: 100vh; Chiều cao toàn màn hình */
    background-color: #ffffff;
    color: #121212;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
}

.sidebar button {
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main {
    width: 95%;
    display: flex;
    justify-content: center;
}
